.app {
  max-width: $maxWidth;
  width: 100%;
  margin: em(50) auto;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

.main {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(em(160), 1fr));
  }
}
